*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #fff;
    font-family: Arial, sans-serif;
}

.div{
    width: 400px;
    height: 85px;
    justify-content: space-between;
	align-items: center; 
}

.navbar {
    display: inline-block;
    margin-right: 10px;
}

.navbar label {
    vertical-align: middle;
}

.input {
    display: inline-block;
    margin-right: 10px;
}