.card-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 30px;
}

.card {
	width: 300px;
	background-color: #f1f1f1;
	margin-bottom: 30px;
}

.card img {
	width: 100%;
	height: 200px;
	object-fit: cover;
}

.card-info {
	padding: 20px;
}

.card-info h2 {
	margin-top: 0;
}

.icon-container {
	display: flex;
	align-items: center;
	margin-top: 10px;
}

.icon-container img {
	width: 25px;
	margin-right: 10px;
}

.icon-container p {
	margin: 0;
	font-size: 14px;
}
/* Reset Styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Header Styles */
header {
	background-color: #fff;
	color: black;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
}

header h1 {
	font-size: 2em;
}

nav {
	width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.user-menu {
	position: relative;
}

.user-icon {
	width: 30px;
	height: 30px;
	margin-right: 10px;
}

.menu-toggle {
	cursor: pointer;
	font-size: 1.5em;
}

.user-dropdown {
	position: absolute;
	top: 40px;
	right: 0;
	background-color: #fff;
	padding: 10px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	display: none;
}

.user-dropdown a {
	display: block;
	padding: 10px;
	color: #fff;
	text-decoration: none;
}

.user-dropdown a:hover {
	background-color: #ddd;
}

.user-menu:hover .user-dropdown {
	display: block;
}

/* Filter Section Styles */
.filter-section {
	background-color: #f2f2f2;
	padding: 20px;
}

.filter-section h2 {
	font-size: 1.5em;
	margin-bottom: 10px;
}

.filter-section form {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.filter-section label {
	margin-right: 10px;
	font-weight: bold;
}

.filter-section input[type="number"],
.filter-section input[type="text"],
.filter-section select {
	padding: 5px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.filter-section button {
	background-color: #333;
	color: #fff;
	padding: 10px;
	border: none;
	cursor: pointer;
}

.filter-section button:hover {
	background-color: #555;
}

/* Property Section Styles */
.property-section {
	padding: 20px;
}

.property-section h2 {
	font-size: 1.5em;
	margin-bottom: 10px;
}

.property-card {
	display: flex;
	background-color: #fff;
	padding: 20px;
	margin-bottom: 10px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.property-image {
	flex: 1;
}

.property-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.property-details {
	flex: 2;
	padding-left: 20px;
}

.property-details h3 {
	font-size: 1.2em;
	margin-bottom: 10px;
}

.property-details p {
	margin-bottom: 5px;
	font-weight: bold;
}

.property-details p.location:before {
	content: "Location: ";
}

.property-details p.bedrooms:before {
	content: "Beds: ";
}

.property-details p.bathrooms:before {
	content: "Baths: ";
}

.property-details p.square-feet:before {
	content: "Sqft: ";
}

.property-details p.price {
	color: #333;
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 10px;
}

.logo-img{
	width: 250px;
	height: 70px;
	object-fit: cover;
}
